menu {
  position: fixed;
  width: calc(100% - 34px);
  padding: 7px;
  background-color: #e2f5cae2;
  backdrop-filter: blur(10px);
  border-radius: 27px;
  height: 50px;
  display: flex;
  align-items: center;
  border-color: #8cc83c;
  border-style: solid;
  border-width: 2px;
}

menu div {
  align-items: center;
  justify-content: start;
}

.menuItem {
  margin: 15px;
  font-size: 18px;
  text-decoration: none;
  color: #518211;
}

menu div img {
  height: 60px;
  width: 60px;
}
